<input type="text" [(ngModel)]="newItemDesc" value=""/><button (click)="addToDo()">Add</button>
<ul>
  <li *ngFor="let toDo of toDOs">
      <input  type="checkbox" value="{{toDo.id}}" (click)="completeTask(toDo.id)">
      <span [ngClass]="{'completed': toDo.completed}" [hidden]="toDo.edit" >{{toDo.description}}</span>
      <input [hidden]="!toDo.edit" [(ngModel)]="toDo.description">
      <button (click)="editTask(toDo.id)">{{!toDo.edit ? 'Edit' : 'Close'}}</button>
      <button (click)="removeTask(toDo.id)">Remove</button>
  </li>
</ul>
